body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  
  h1 {
    font-size: 3rem;
    margin: 0;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li::before {
    content: "✔️ ";
  }
  
  li {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  li:last-child {
    margin-bottom: 2rem;
  }
  
  li:hover {
    text-decoration: underline;
  }
  
  p:last-child {
    margin-top: 2rem;
  }
  
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 2rem;
    }
    
    li {
      font-size: 1rem;
    }
  }
  